
  <section class="contact-form">
    
      <h1>Projects</h1>
      <p>Task</p>
      
      <form >
        <div class="row">
        <div class="input-group">
          <label for="_id">Roll Number</label>
          <input id="_id" name="_id" type="text"/>
        </div>
        <div class="input-group">
          <label for="name">Full Name</label>
          <input id="name" name="name" type="text"/>
        </div>
        <div class="input-group">
          <label for="dob">Date of Birth</label>
          <input id="rollno" name="dob" type="date" />
        </div>
        <div class="input-group">
          <label for="mark">Mark</label>
          <input id="mark" name="mark" type="Number"/>
        </div>
        <!-- <div class="input-group">
          <label for="grade">Grade</label>
          <input id="grade" name="grade" type="text"/>
        </div> -->
        <div style="padding-top: 2rem;" class="input-group">
        <button type="submit"  >Save</button>
      </div>
      </div>
      
 
      </form>

      <!DOCTYPE html>
      <html lang="en">
      <head>
        <title>Vimal Task</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      </head>
      <body>
      
      <div class="container">
        <h2>Student Table</h2>
           
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Roll Number</th>
              <th>Name</th>
              <th>Date Of Birth</th>
              <th>Mark</th>
              <th>Grade</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < datas.length; i++) { %>
              <tr>
                <td><%= datas[i]._id %></td>
                <td><%= datas[i].name %></td>
                <td><%=  new Intl.DateTimeFormat('ko-KR', { year: 'numeric', month: 'numeric', day: '2-digit'}).format(datas[i].dob) %> </td>
                <td><%= datas[i].mark %></td>
                <td><%= datas[i].grade %></td>
              </tr>    
             <% } %>
          </tbody>
        </table>
      </div>
      
      </body>
      </html>
    </section>
 





<script>
  
function handleFormSubmit(event) {
  event.preventDefault();
  
  const data = new FormData(event.target);
  
  const formJSON = Object.fromEntries(data.entries());
  
  const results = document.querySelector('.results pre');
  results.innerText = JSON.stringify(formJSON, null, 2);
  const datapost = results.innerText
  console.log(data);
  const url = "/api/student";
  fetch(url, {
    method : "POST",
    headers: {'Content-Type': 'application/json'},
    body: results.innerText
}).then(res => {
  console.log("Request complete! response:", res);
});
}


const form = document.querySelector('.contact-form');
form.addEventListener('submit', handleFormSubmit);

</script>

<style>:root {
  --color-lightest: #f9fdfe;
  --color-gray-light: #cdcfcf;
  --color-gray-medium: #686a69;
  --color-gray-dark: #414643;
  --color-darkest: #2a2f2c;
}

*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

/* Heydon Pickering’s lobotomized owl. Details: https://bit.ly/1H7MXUD */
* + * {
  margin-top: 1rem;
}

/* Set up fonts, colors and all that jazz. */
body {
  background: var(--color-lightest);
  color: var(--color-gray-medium);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 1.45;
}

/* Headings use a different font because they’re hipsters. */
h1,
h2 {
  color: var(--color-darkest);
  font-size: 110%;
  line-height: 1.1;
}

h1 {
  font-size: 125%;
}

/* Set up general layout rules for outer containers. */
.contact-form,
.results {
  width: 90vw;
  max-width: 2000px;
  margin: 1vh auto;
}

p {
  margin-top: 0.5rem;
  font-size: 87.5%;
}

.results pre {
 
}

.contact-form form {
  position: relative;
  display: block;
  margin: 0;
  padding: 1rem 0 2rem;
  border-top: 1px solid var(--color-gray-light);
  border-bottom: 1px solid var(--color-gray-light);
  overflow: hidden;

}

.input-group {
  margin-top: 0.25rem;
  padding: 0.5rem 1rem;
  width: 14.5rem;
}

.contact-form label {
  display: block;
  color: $color-gray-dark;
  font-family: Lato, sans-serif;
  font-size: 90%;
  line-height: 1.125;
}

.group-label {
  display: inline-block;
  margin-right: 1rem;
  font-size: 90%;
}

.contact-form label.inline {
  display: inline-block;
  margin-left: 0.25rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea{
  display: block;
  margin-top: 0.25rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid $color-gray-light;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  transition: 150ms border-color linear;
}

.contact-form input[type=checkbox],
.contact-form input[type=radio] {
  display: inline-block;
  width: auto;
}

.contact-form input[type=checkbox]:not(:first-of-type),
.contact-form input[type=radio]:not(:first-of-type) {
  margin-left: 1rem;
}

.contact-form input:focus,
.contact-form input:active {
  border-color: var(--color-gray-medium);
}

.contact-form button {
  display: block;
  margin: 0.5rem 1rem 0;
  padding: 0 1rem 0.125rem;
  background-color: var(--color-gray-medium);
  border: 0;
  color: var(--color-lightest);
  font-family: lato, sans-serif;
  font-size: 100%;
  height: 2.5rem;
 
  text-transform: uppercase;
  transition: 150ms all linear;
}

  

.contact-form button:hover,
.contact-form button:active,
.contact-form button:focus {
  background: var(--color-darkest);
  cursor: pointer;
}
</style>



<div style="width: 0px;" class="results">
 
  <pre ></pre>
</div>